<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{css/style.css}"/>
    </head>

    <body>
        <div class='header'>
            <h1>COMMUNITY CHECK-IN</h1>
        </div>

        <div>
            <h2>Please help our community by anonymously checking in. It takes just a few seconds. <strong>You can save a life.</strong></h2>
        </div>
        <h2><strong>Scan QR by holding your phone's camera app over the code below </strong></h2>

        <img class="qr-code" th:src="${qrCode}" alt="qr">

        <h2>or visit <u>www.zerobase.io</u></h2>
        <h3> Together with <span th:text="${organizationName}"/>, you are doing your part to help keep <span th:text="${administrativeArea}"/> safe.</h3>
        <div class="next-page"> </div>

        <div class='footer' th:include="pdfs/common/letterhead::letterhead"></div>
    </body>

</html>
